.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* MY CSS */
#mynav {
  background-color: black !important;
}

body {
  background-color: black !important;
}

#mymovie {
  background-color: black !important;
}

#cardImg {
  width: 200px;
  height: 300px;
}

#cardImg:hover {
  width: 220px;
  height: 320px;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  z-index: 1000;
}

h1 {
  margin-left: -137px !important;
}
